
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>
    <ul class="nav nav-list">
        <li class="active" name="menu">
            <a href="/Console/Index">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 控制台 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li name="menu">
            <a href="###" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    小区管理
                    <!-- #section:basics/sidebar.layout.badge -->
                    <span class="badge badge-transparent tooltip-error" title="核心数据，请务必谨慎操作">
                        <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                    </span>
                    <!-- /section:basics/sidebar.layout.badge -->
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu">
                <li>
                    <a href="/VillageLinxin/Index" name="am">
                        <i class="menu-icon fa fa-caret-right"></i>
                        所有小区
                    </a>
                </li>

                <li>
                    <a href="/VillageLinxin/Edit" name="am">
                        <i class="menu-icon fa fa-caret-right"></i>
                        编辑小区
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
