<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LinXinApp20Entities" connectionString="metadata=res://*/JiGuangLinXinApp.csdl|res://*/JiGuangLinXinApp.ssdl|res://*/JiGuangLinXinApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LinXinApp20;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- <add name="LinXinApp20Entities" connectionString="metadata=res://*/JiGuangLinXinApp.csdl|res://*/JiGuangLinXinApp.ssdl|res://*/JiGuangLinXinApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rdsu0ljfu3z9jn0wgx4p.sqlserver.rds.aliyuncs.com,3433;initial catalog=linxinapp20;user id=linxindb;password=linxin_999;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--应用程序日志记录路径-->
    <add key="LogPath" value="D:\linxinAppStatic\log\" />
    <!--各种上传文件的路径-->
    <add key="StaticFilePath" value="D:\linxinAppStatic\attachment\" />
    <!--静态资源图片的地址-->
    <add key="ImgSiteUrl" value="http://192.168.3.95:8122/" />
    <!--服务页面的url：如，公告、关于我们等页面-->
    <add key="OutsideUrl" value="http://192.168.3.95:8123/" />
    <!--token过期日期 默认30天-->
    <add key="TokenTimeout" value="30" />
    <!-- 上次图片，限制大小:5M-->
    <add key="ImgSize" value="5242880" />
    <!--红包标签-->
    <add key="giftTip" value="小手一抖，红包到手|沾沾喜气|土豪，再来一个|有钱就是任性|静静抢红包" />
    <!--话费充值金额 |10|20|30|50|100|300-->
    <add key="phoneMoneyList" value="8.5,10|25.5,30|42.5,50" />
    <!--H5 app下载-->
    <add key="H5AppDownloadUrl" value="http://www.jgyx.com/AppDownload/" />
    <!--全景看房 VR地址-->
    <add key="VRUrl" value="http://120.76.101.244:8088/" />
    <!--社区游戏 地址-->
    <add key="GamesUrl" value="http://120.76.101.244:8098/" />
    <!--APP启动页面 广告图片 图片地址#版本号-->
    <add key="StartPageAdImg" value="http://static.cqjglx.com/ad/startPage.jpg#1" />
    <!--楼盘“柏拉图”趣味图目录-->
    <add key="TagFunPath" value="D:\linxinAppStatic\attachment\tagFun\" />
    <!--签到积分兑换流量，时间控制-->
    <add key="TrafficTimeLimit" value="11:00,11:51|19:10,19:20" />
    <!--活动专题ID 集合 -->
    <add key="EventIdList" value="[{'key':'EventFilm','value':'8F1FD5C1-86D9-40BD-B4BC-484745BAB6A6'},{'key':'def','value':'000'}]" />
    <!--帮助中心，客服QQ-->
    <add key="ServiceQQ" value="客服一,2850856550|小张,2850852977|阿发,800137559|呵呵哒,800024881" />
    
    
    <!--系统IP访问屏蔽-->
    <add key="HxClientID" value="YXA6eP70oIHVEeWiInF3_PXfSw" />
    <!--环信接口参数-->
    <add key="HxClientID" value="YXA6eP70oIHVEeWiInF3_PXfSw" />
    <add key="HxClientSecret" value="YXA6zmk7lBIzNMTZDXeyzF8u9mlLn4Q" />
    <add key="HxName" value="lx" />
    <add key="HxOrgName" value="linxin2015" />
    <!--短信接口参数-->
    <add key="SmsName" value="cf_jiguang" />
    <add key="SmsPwd" value="jggaohua@123" />
    <!--短信 注册发送验证码 模版-->
    <add key="SmsRegTmp" value="验证码：{0},欢迎您使用邻信。如非本人操作，请忽略该短信。" />
    <!--提交认证，短信通知的管理员电话号码-->
    <add key="CheckAuditingMgrPhone" value="15825942359,15825942359" />
    <!--提交认证，短信通知的管理员电话号码 短信模版-->
    <add key="CheckAuditingSms" value="用户社区认证提醒：{0}。" />

    <!--推送接口参数-->
    <add key="JPushKey" value="06c982985f4337be5086bc10" />
    <add key="JPushSecret" value="b4a8c395d760f0538dab9184" />
    <!--推送接口推送消息 口令-->
    <add key="jgPushToken" value="7B805BE196266B56A34A4B10835E1BCC" />
    <!--银联接口便民 渠道号-->
    <add key="branchId" value="00003978" />
    <!--银联接口便民 接口地址-->
    <add key="interfaceUrl" value="http://140.206.112.250/SCWeb1/outerInterface" />
    <!--销帐通知接口 md5key-->
    <add key="md5Key" value="JD&amp;I9MWBEHFO#11UDTCBG5126!48@1EH" />
    <!--网站域名，必须80端口，不要以/结尾-->
    <add key="Domain" value="" />
    <!--微信Token-->
    <add key="Token" value="c52AR9oqRAMNg97A" />
    <!--微信AppId-->
    <add key="AppID" value="wx60a319b07a29f2fc" />
    <!--微信AppSecret-->
    <add key="AppSecret" value="443c56a8e9db779ed1ddb4e1c8fbd272" />

    <!--支付宝配置-->
    <add key="alipaySubject" value="邻信余额充值" />
    <add key="notifyUrl" value="http://i.cqjglx.com/Notify/Alipay" />



  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

    <httpRuntime maxRequestLength="1024000000" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="300" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <!--<add name="Access-Control-Allow-Origin" value="*" /> 不能用* 这个玩意儿不安全-->
        <add name="Access-Control-Max-Age" value="30" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Accept,content-type,x-requested-with,platform,phone,token,uid" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDav" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>