<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="vs:EnableBrowserLink" value="false" />

    <!-- 上次图片，限制大小:5M-->
    <add key="ImgSize" value="5242880" />
    <!-- 上次视频，限制大小:25M-->
    <add key="VideoSize" value="26214400" />
    <!--各种上传文件的路径-->
    <add key="StaticFilePath" value="D:\linxinAppStatic\attachment\" />

    <!--静态资源图片的地址-->
    <add key="ImgSiteUrl" value="http://192.168.1.172:8122/" />
    <!--服务页面的url：如，公告、关于我们等页面-->
    <add key="OutsideUrl" value="http://192.168.3.95:8123/" />
    
    <!--应用程序日志记录路径-->
    <add key="LogPath" value="D:\linxinAppStatic\log\" />
    
    
    <add key="GalleryPath" value="/cache/gallery/" />


    <!--环信接口参数-->
    <add key="HxClientID" value="YXA6eP70oIHVEeWiInF3_PXfSw" />
    <add key="HxClientSecret" value="YXA6zmk7lBIzNMTZDXeyzF8u9mlLn4Q" />
    <add key="HxName" value="lx" />
    <add key="HxOrgName" value="linxin2015" />
    
    <!--推送接口参数-->
    <add key="JPushKey" value="06c982985f4337be5086bc10" />
    <add key="JPushSecret" value="b4a8c395d760f0538dab9184" />
    <!--推送接口推送消息 口令-->
    <add key="jgPushToken" value="7B805BE196266B56A34A4B10835E1BCC" />
  </appSettings>

  <connectionStrings>
    <add name="LinXinApp20Entities" connectionString="metadata=res://*/JiGuangLinXinApp.csdl|res://*/JiGuangLinXinApp.ssdl|res://*/JiGuangLinXinApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LinXinApp20;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="LinXinApp20Entities" connectionString="metadata=res://*/JiGuangLinXinApp.csdl|res://*/JiGuangLinXinApp.ssdl|res://*/JiGuangLinXinApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rdsu0ljfu3z9jn0wgx4p.sqlserver.rds.aliyuncs.com,3433;initial catalog=linxinapp20;user id=linxindb;password=linxin_999;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />

    <!--forms 身份验证-->
    <authentication mode="Forms">
      <forms loginUrl="~/passport/login" timeout="30" defaultUrl="~/" path="/" slidingExpiration="true" name="ucenter_admin" />
    </authentication>
    <customErrors defaultRedirect="~/Error" mode="Off">
      <error statusCode="404" redirect="~/Error" />
      <error statusCode="400" redirect="~/Error" />
    </customErrors>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />

        <add namespace="JiGuangLinXin.App.Entities" />
        <add namespace="JiGuangLinXin.App.Provide" />
        <!--<add namespace="Webdiyer.WebControls.Mvc" />-->
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="1024000000" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="300" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <modules runAllManagedModulesForAllRequests="true" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000" />
      </requestFiltering>
    </security>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
